<!--
Aquest arxiu rep una llista amb noms de naus
genera un enllaç ‘html’ cap a la pàgina de item que correspon a aquell nom
-->
<%
for (cnt in llista) {
__append("<br/> <a href='/item?nom=" + llista[cnt] + "'>" + llista[cnt] + "</a>")
}
%>
