<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
       <%- include('../partials/head', {}); %>
<title>Item</title>
   </head>
   <body>
       <%- include('../partials/itemBody', {infoNau: infoNau}); %>
   </body>
</html>