body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    user-select: none;
    color: grey;
}

.formRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
    max-width: 300px;
}

.formRow:first-child {
    margin-top: 25px;
}

.formRow:last-child {
    justify-content: flex-end;
}